[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "==2.18.4"
simplejson = "==3.13.2"
"urllib3" = "==1.22"
pytest = "==3.3.2"
pytest-cov = "==2.5.1"
pytest-mock = "==1.6.3"


[dev-packages]



[requires]

python_version = "3.6"
